body{
    margin:0;
    padding:0;
    width:100%;
    height:100vh;
    overflow:hidden;
    display:flex;
    align-items: center;
}
.container{
    width:25%;
    height:60%;
    background:#358CF4;
    transform:translateX(150%);
    border-radius:10px;
    text-align:center;
    color:#fff;
    overflow:hidden;
}
.scroll-input{
    height:200px;
    display:block;
    width:200px;
    overflow-y:scroll;
    text-align:center;
    overflow-x:hidden;
    margin:0 auto;
    margin-top:25px;
    background:#fff;
    border-radius:4px;
    border:none;
}
#name{
    padding:5px;
    width:80%;
    border-radius:2px;
    border:none;

}

.scroll-input a{
    width:100%;
    display:block;
    margin-top:2px;
    text-decoration:none;
    font-size:20px;
}
i.fa{
    font-size:0.5rem;
    display:inline-block;
    margin-right:2px;
    color:#000;
}
i.online{
    color:#04B404;
}
i.offline{
    color:rgb(0,0,0,0.4);
}
a:active{
    color:#00BFFF;
    scroll-behavior:none;
}
